html, body {
    height: 100%;
    width: 100%;
  }
@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mingzat', sans-serif;
}

li, a, button {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #FFFDD0
  }
  
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #FCACBF;
  }
  
.logo {
    margin-right: auto;
  }

.logo-h1 {
  text-decoration-line:overline;
}
  
.logo:hover {
    color: aqua;
  }
  
.nav-links {
    list-style: none;
  }
  
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
.nav-links li a {
    transition: all 0.2s ease 0s;
  }
  
.nav-links li a:hover {
    color: aqua;
  }
  
button {
    padding: 9px 25px;
    background-color: rgba(205, 58, 255, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.2s ease 0s;
    margin-left: 20px;
  }
  
button:hover {
    background-color: rgba(205, 58, 255, 0.7);
  }

h1, p {
    font-family: 'Mingzat', sans-serif;
}

.hometext-container {
    height: 600px;
    width: 100%;
    background-color: #CBC3E3;
}

.hometext {
    position: relative;
    text-align: center;
    color: #FFFDD0;
    height: 100vh;
}

.p-link {
  text-decoration-line: underline;
}

.homeimage-1 {
    position: absolute;
    right: 100px;
    width: 400px;
    height: 600px;
    object-fit:cover;
    object-position: 50% 100%;
}

.home-article {
    position: absolute;
    left: 10px;
    width: 50%;
    padding: 100px;
}

h1 {
  font-size:xx-large;
}

p {
  font-size:larger;
}

.workout-container {
  display: inline-block;
  background-color: white;
}

.card-text {
  color: #FFFDD0;
  padding-bottom: 8px;
}

/* Three columns side by side */
.card-column {
  background-color: #FCACBF;
  float: left;
  width: 25%;
  margin: 4.3em;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 8px 8px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card-image {
  padding-bottom: 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .card-column {
    width: 100%;
    display: block;
  }

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

/* Some left and right padding inside the container */
.card-text-container {
  padding: 0 16px;
}

/* Clear floats */
.card-text-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.card-title {
  color: grey;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.card-button:hover {
  background-color: #555;
}
}