@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Edu SA Beginner', 'Mingzat', sans-serif;
}

html, body {
    height: 100%;
    max-width: 100vw;
  }
  

li, a, button {
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
header {
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
  display: inline-block;
  width:100%;
  padding: 10px 2.5%;
  background-color: #FCACBF;
  }
  
  @media screen and (max-width: 650px) {
    header {
      max-width:100%
    }
  }

@media screen and (max-width: 650px) {
  .navbar {
    max-width:100%
  }
}

.logo {
    margin-right: auto;
  }

.logo-h1 {
  text-decoration-line:overline;
  z-index:3;
}
  
.logo:hover {
  color: rgba(205, 58, 255, 1);
  }
  
.nav-links {
  position:absolute;
  list-style: none;
  padding: 0px 35px;
  right: 10%;
  top: 17px;

  }
  
.nav-links li {
  display: inline-block;
  padding: 0px 25px;
  }
  
.nav-links li a {
    font-family: 'Edu SA Beginner', 'Mingzat', sans-serif;
    transition: all 0.2s ease 0s;
    font-size: 1.2em;
  }
  
.nav-links li a:hover {
    color: rgba(205, 58, 255, 1);
  }

.cta {
    position: absolute;
    top: 15px;
    right:2%;
}
  
button { 
    font-family: sans-serif, 'Mingzat', 'Edu SA Beginner';
    padding: 9px 25px;
    background-color: rgba(205, 58, 255, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.2s ease 0s;
    margin-left: 20px;
  }
  
button:hover {
    background-color: rgba(205, 58, 255, 0.7);
    cursor: pointer;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/phJkBN5.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


h1, p {
  font-family: 'Edu SA Beginner', 'Mingzat', sans-serif;
}

.hometext-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.imgur.com/Je3Nsbs.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-top: thick solid whitesmoke;
}

.hometext {
  position:relative;
  width:inherit;
  height:inherit;
  margin:auto;
}

.p-link {
  text-decoration-line: underline;
}

.home-article {
  position:absolute;
  color: #3A3B3C;
  background-color: #CBC3E3;
  font-family: 'Edu SA Beginner', 'Mingzat', sans-serif;
  width: 60%;
  top:20%;
  left:20%;
  border-radius: 25px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  padding: 10vh 2.5vw;
  text-align: center;
} 

@media screen and (max-width:800px){
  .home-article {
   width:80%;
   left:10%;
  }
}

article ul li {
  list-style-position: inside;
  font-size:x-large;
  color: #3A3B3C;
}

article h1 p {
  word-wrap: break-word;
}

article a strong {
  font-size: x-large;
  text-decoration: underline;
  color: #3A3B3C;
}

.home-article a {
  color: darkslategrey;
}

article h1 {
  font-size: xx-large;
  text-decoration: overline;
}

article p {
  font-size: larger;
}

.workout-container {
position: relative;
background-color:#FCACBF;
max-width: 100%;
border: thick dotted #FCACBF;
border-top: hidden;
border-bottom: hidden;
}

.card-text {
  color: #3A3B3C;
  padding-bottom: 16px;
}

.card-text > h1 {
  color:#3A3B3C;
}

.card-lists ul li {
  list-style-position: inside;
  font-size:x-large;
  list-style-type: none;
  color: #3A3B3C;
}

/* Adding emojis to my bullet points */
.card-lists ul li:before { 
  content: '💪';
  margin-left: -20px; 
  margin-right: 10px;
}

/* Scrollable collumns for mobile */
@media screen and (max-width: 800px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Three columns side by side */
@media only screen and (min-width: 801px) {
.card-column {
  background-color: #CBC3E3;
  position: relative;
  display: inline-block;
  left: 3%;
  margin: 85px 50px 50px 50px;
  max-width: 25%;
  max-height: 25%;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
 }
}

.card-image {
  padding-bottom: 8px;
}

/* Display the columns below each other instead of side by side on small screens */
/*@media screen and (max-width: 650px) {
  .card-column {
    max-width: 100%;
    display: block;
  } */

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.7);
}

/* Some left and right padding inside the container */
.card-text-container {
  padding: 0 16px;
  font-size:x-large;
}

/* Clear floats */
.card-text-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  bottom: 5%;
}

@media screen and (min-width:801px) {
  #workout-plan {
  position: relative;
  background-image:url("https://i.imgur.com/vHNvPoy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1100px;
  border-top: medium solid whitesmoke;
}
}

@media screen and (max-width:800px) {
  #workout-plan {
    position: relative;
    background-image:url("https://i.imgur.com/vHNvPoy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1100px;
    border-top: medium solid whitesmoke;
  }
}

@media screen and (min-width:800px){
.plan-text {
  position: absolute;
  background-color: #CBC3E3;
  text-align: center;
  top: 30%;
  right:15%;
  width:30%;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}
}

.plan-text ul li {
  list-style-position: inside;
  font-size:x-large;
  color: #3A3B3C;
  padding: 10px 10px;
}

.plan-text p {
  font-size: x-large;
  color:#3A3B3C;
}

.plan-h1 {
  color: white;
  font-size: 48px;
  text-decoration: overline;
  padding: 10px 10px;
}

@media screen and (min-width:800px){
#workout-plan img {
  position:absolute;
  display:block;
  max-height:80%;
  max-width:50%;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  margin-left: 10%;
}
}

@media screen and (max-width:800px) {
  #workout-plan img {
    width: 95%;
    min-width:95%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width:800px) {
  .plan-text {
   background-color: #CBC3E3;
   text-align:center;
   margin-top:5%;
   width: 80%;
   min-width: 80%;
   display:block;
   margin-left:auto;
   margin-right:auto;
   box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  }
}

.about-container {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("https://i.imgur.com/1Gykf72.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 900px;
max-width: 100%;
border-top: thick solid whitesmoke;
}

.about-container > article {
  position:absolute;
  color: #3A3B3C;
  background-color:#CBC3E3;
  border-radius: 25px; 
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  padding: 10vh 2.5vw;
  top:20%;
  left:20%;
  text-align: center;
  max-width: 100%;
  min-height: 40%;
}

@media screen and (max-width:800px){
  .about-container > article {
   width:80%;
   left:10%;
  }
}

article > h1 {
  color: white;
}

.contact-form {
position: relative;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("https://i.imgur.com/br8ALCZ.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 900px;
max-width: 100%;
border-top: medium solid whitesmoke;
}


@media screen and (min-width:801px){
fieldset {
  position: absolute;
  background-color:#CBC3E3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  width: 40%;
  left: 30%;
  top: 25%;
  padding: 2.5vh 2.5vw;
}
}

@media screen and (max-width:800px){
  fieldset {
    position:absolute;
    background-color: #CBC3E3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    width:90%;
    left:5%;
    top:30%;
  }
}

legend {
  font-size: 1.6em;
  color: darkslategrey;
}

.contact-submit {
  position:relative;
  padding: 8px 30px;
  left: 42%;
  background-color: rgba(205, 58, 255, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.2s ease 0s;
  font-size: 1.2em;
}

.contact-submit:hover {
  background-color: rgba(205, 58, 255, 0.7);
  cursor: pointer;
}

footer {
  position: relative;
  background-color:#FCACBF;
  max-width: 100%;
}

.footer-row {
  display:list-item;
}

@media screen and (min-width:801px) {
.footer-row {
  display:flex;
  flex-wrap:wrap;
  padding: 2.5% 0;
}
}

@media screen and (min-width:800px){
.footer-box {
flex:0 0 auto;
margin: 0 1%;
max-width:20%;
}
}

@media screen and (max-width:800px) {
  .footer-box {
    margin-left: 5%;
  }
}

@media screen and (max-width:800px) {
  .footer-box2 {
    position:relative;
    margin: 5% 5%;
  }
}

.footer-box2 {
  margin-top: 1%;
}

.footer-box2 > h2 {
  font-size: xx-large;
  color:whitesmoke;
}

.footer-box2 > p {
  font-size: large;
  color:#3A3B3C;
  font-weight: 700;
}

.footer-box2 p a {
  color:#3A3B3C;
  font-weight: 700;
}

.footer-box2 p a i {
  color: whitesmoke;
}

table th i {
  font-weight: 500;
}

iframe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}


.quote {
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  padding: 1% 1%;
  text-align: center;
}


@media screen and (max-width:800px) {
.quote {
  top: 5%;
  max-width: 90%;
  border-top:thick solid #FCACBF;
}
} 

.quote h2 {
  color:whitesmoke;
  font-size: xx-large;
  font-weight: 900;
  text-decoration: overline;
}

.quote p {
  color:#3A3B3C;
  font-weight: 700;
  font-size:large;
}

th {
  font-size: xx-large;
  color: whitesmoke;
}

td {
  font-size: large;
  color:#3A3B3C;
  font-weight: 700;
}

.copyright {
  text-align: center;
  padding: 1% 0;
}